@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">

    <!-- Botón superior -->
    <div class="row mb-4">
        <div class="col text-center">
            <button type="button" class="btn btn-primary w-100 py-5">

                <h2>Inserte Tarjeta</h2>
            </button>
        </div>
    </div>

    <!-- Fila con dos botones grandes -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-dark w-100 py-5">
                <h2>Llenar Parámetros</h2>
            </button>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-danger w-100 py-5">
                <h2>Limpiar tarjeta</h2>
            </button>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-info w-100 py-5 text-white">
                <h2>Consultar</h2>
            </button>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered  ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                  
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">20RB</th>
                   
                    <td>
                        VA-20RB-01
                    </td>
                    <td>Abierto</td>
                </tr>
                <tr>
                    <th scope="row">20RB</th>
                
                    <td>
                        VA-20RB-02
                    </td>
                    <td>Abierto</td>
                </tr>
                <tr>
                    <th scope="row">20RB</th>
                  
                    <td>
                        VA-20RB-03
                    </td>
                    <td>Abierto</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>